*{
    box-sizing: border-box;
    color: whitesmoke;
    font-weight: 600;
}

/*adjust background to custom image and size image proportions*/
body{
    display: flex;
    justify-content: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

/*size buttons to have enough space for txt*/
.button{
    width: 10vh;
    height: 5vh;
    margin: 2vh;
    background: purple;
}

/*push input colors to top of options bar*/
#erasorButton, #slider{
    margin-top: auto;
}

/*space the text above input colors properly*/
label{
    margin-top: 2vh;
    margin-bottom: 0.5vh;
}

/* center content to middle of the screen and fit content based on its contents width */
.content{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: fit-content;
    background-color: black;
}

/* adjust spacing and size of options bar to match grid */
.options{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    width: 25vh;
    border: 1ch double purple;
}

/* set up initial grid and center all items in middle of container
with spacing between entire grid and border of content */
.container{
    display: grid;
    grid-template-rows: repeat(64, 1fr);
    grid-template-columns: repeat(64, 1fr);
    border: 1ch double purple;
    border-left: .1 solid purple;
    margin: auto;
    justify-content: center;
    width: 80vh;
    height: 80vh;
    padding: 50px;
}

/*give border without overlapping for all added divs*/
.block{
    border-left: 0.1ch solid purple;
    border-top: 0.1ch solid purple;
}

/*give space from last element of options from the bottom*/
output{
    margin-bottom: 2.5vh;
}

/*remove the white background from the color input elements*/
input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 8ch;
	height: 4vh;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

#slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
#slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 25ch; /* Full-width */
  height: 2.40vh; /* Specified height */
  background: purple; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
#slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: white; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: white; /* Green background */
  cursor: pointer; /* Cursor on hover */
}